@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
a {
  color: white;
}
.none {
  display: none;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.header {
  z-index: 11;
  background: hwb(0 5% 95% / 0.3);
  width: 100%;
  height: 110px;
  position: absolute;
}
.header__container {
  height: 100%;
}

.container {
  box-sizing: content-box;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__row {
  opacity: 1;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  align-self: flex-start;
  padding-top: 27px;
}

.header-logo-tablet {
  display: none;
}
.header-logo-phone {
  display: none;
}

.header__list {
  display: flex;
  text-align: center;
}
.header__list li:not(:last-child) {
  margin-right: 78px;
}

.nav__item a {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  border-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.nav__item a:hover {
  color: #d22856;
  border-color: #d22856;
  transition: all 0.5s ease;
}
.nav__item a:active {
  color: #ffffff;
  border-color: #ffffff;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.header__burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  height: 24px;
}
.bar {
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.header__burger.act .bar:nth-child(2) {
  transform: translate(0, -200px) scale(0);
}
.header__burger.act .bar:first-child {
  width: 30px;
  transform: translate(0px, 8px) rotate(-45deg);
}
.header__burger.act .bar:last-child {
  width: 30px;
  transform: translate(0px, -10px) rotate(45deg);
}
.menu-active {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
/* .....intro....... */
.intro {
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 224px 0 130px 0;
}
.intro__container {
  display: flex;
}
.intro-mobile {
  display: none;
}

.intro__content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 500px;
  align-items: center;
  text-align: center;
  z-index: 6;
}
.intro__title {
  margin-bottom: 50px;
}
.title {
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
}
.intro__download-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  border: 3px solid #ffffff;
  border-radius: 29px;
  width: 100%;
  padding: 15px 0 15px 0;
  transition: all 0.5s ease;
  margin-bottom: 70px;
}

.intro__download-button:hover {
  color: #d22856;
  background-color: #ffffff;
}
.intro__download-button:active {
  color: #d2285530;
  background-color: #ffffff;
}
.intro__icons {
  display: flex;
  gap: 35px;
  margin-bottom: 55px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
.intro__hend {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ........information..........*/
.information {
  padding-top: 80px;
}

.information__title {
  max-width: 780px;
  text-align: center;
  color: black;
  margin: 0 auto;
  margin-bottom: 50px;
}

.information__background {
  background: url(/src/images/imgInformaton/grey\ background.png) no-repeat;

  background-size: cover;
  padding-top: 6px;
}
.information__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.phone__row {
  display: flex;
  justify-content: space-between;
}
.infortion__culumn-row {
  display: flex;
  justify-content: space-between;
}
.information__column {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 252px;
}
.column__phone {
  display: flex;
  justify-content: center;
  width: 252px;
  z-index: 0;
  position: relative;
  margin-bottom: 24px;
}
.column__phone::after {
  z-index: 12;
  content: "";
  display: block;
  left: -10px;
  bottom: -1px;
  position: absolute;
  width: 280px;
  height: 33px;
  background: #f2f2f2;
}

.column__phone::before {
  content: "";
  z-index: 12;
  display: block;
  position: absolute;
  bottom: 24px;
  left: -10px;
  width: 280px;
  height: 17px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #000000 49.8%,
    rgba(0, 0, 0, 0) 93.23%
  );
  opacity: 0.3;
  filter: blur(2px);
}
.column__title {
  color: black;
  margin-bottom: 30px;
}
.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.column__text {
  color: black;
  font-weight: 400;
  line-height: 30px;
}

/* .......clock......... */
.clock {
  background: #f2f2f2;
  padding: 73px 0 63px 0;
  margin-bottom: 72px;
}

.clock__content {
  display: flex;
  gap: 70px;
}

.clock__culmn {
  color: #000000;
}
.clock__title {
  margin-bottom: 30px;
}

.clock__text {
  line-height: 30px;
  margin-bottom: 47px;
}

.clock__link a {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  text-decoration-line: underline;

  color: #d22856;
}

/*........ slider .........*/
.slider-container {
  box-sizing: content-box;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.slider {
  overflow: hidden;
  max-width: 668px;
  margin: 0 auto;
}
.slider__list {
  display: flex;
  transition: all ease 0.5s;
}
.slider__content {
  box-sizing: content-box;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}
.slider__icon {
  margin-bottom: 52px;
}
.slider__text {
  margin-bottom: 40px;
}
.slider__name {
  font-size: 24px;
  margin-bottom: 11px;
}

.arrow {
  background: rgba(255, 255, 255, 0);
}

.arrow-right {
  position: absolute;
  bottom: 151px;
  right: 20px;
}
.arrow-left {
  position: absolute;
  bottom: 151px;
  left: 20px;
}

.slider__pagination {
  height: 10px;
  margin-top: 20px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination__circle {
  cursor: pointer;
  width: 6px;
  height: 6px;
  background: #283645;
  opacity: 0.3;
  border-radius: 50%;
  transition: all ease-in-out 0.5s;
}
.active {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 3px solid #283645;
  opacity: 0.8;
}

/* table */

.table__container {
  padding: 160px 20px 98px 20px;
}
.table {
  background: url(/src/images/table/background\ table.png);
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  height: 94px;
  width: 233px;
  background: #283645;
  border-bottom: none;
  border-right: 2px white solid;
}

thead tr th:first-child {
  border-right: none;
}
thead tr th:last-child {
  border-right: none;
}
.table__head h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.table__head p {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.table__body {
  color: black;
  border-top: none;
  background-color: #ffffff;
}

.table__body td {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}
.cell {
  text-align: center;
  width: 234px;
  max-height: 59px;
}
.table__body .text {
  text-align: start;
  padding: 20px 0 20px 20px;
}

/* contact-info */

.contact-info__container {
  padding-top: 56px;
}
.contact-info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.contact-info__title {
  text-align: center;
  max-width: 462px;
  margin-bottom: 51px;
}

.contact-info__row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.contact-info__culmn {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.contact-info__subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.contact-info__inform {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
.contact-info__inform a {
  color: #d22856;
  word-wrap: normal;
}

/* .........map.......... */
.map__cont {
  position: relative;
}
.map {
  height: 500px;
  width: 100%;
}

.map__triange {
  top: -1px;
  width: 100%;
  height: auto;
  position: absolute;
}
.map__triange img {
  width: 100%;
}

.footer {
  height: 200px;
}
.foote__container {
  height: 100%;
}

.footer__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icons-row {
  width: 300px;
}
.footer__icons {
  width: 200px;
}
.footer__logo img:first-child {
  display: none;
}
.footer__info {
  color: #000000;
}
.footer__info span {
  color: #d22856;
}

@media (max-width: 920px) {
  .header {
    transition: all 0.5s ease;
    position: relative;
    position: fixed;
  }
  .header.act {
    background: #283645;
  }
  .container {
    max-width: 620px;
  }
  .header-logo-main {
    display: none;
  }
  .header-logo-tablet {
    display: block;
  }
  .header__burger {
    display: flex;
  }
  .header__list {
    position: absolute;
    flex-direction: column;
    top: -100vh;
    left: 0;
    width: 100vw;
    background: #283645;
    border-top: #000000 1px solid;
    transition: all 0.5s ease;
  }
  .header__list.act {
    top: 109px;
  }
  .header__list li:not(:last-child) {
    margin-right: 0px;
  }
  .nav__item {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    border-bottom: #000000 0.5px solid;
    background: #283645;
    box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  }
  /* .....intro......... */
  .intro {
    padding: 224px 0 120px 0;
  }
  .title {
    font-size: 40px;
    line-height: 120%;
  }
  .intro__content {
    height: 100%;
  }

  .intro__title {
    max-width: 260px;
    margin-bottom: 39px;
  }
  .intro__download-button {
    margin-bottom: 50px;
  }
  .intro__icons {
    margin-bottom: 35px;
  }

  .intro__hend img {
    width: 100%;
    height: 545px;
  }
  .intro__information.text {
    font-size: 18px;
    font-weight: 300;
  }
  /* ..............information.......... */
  .information {
    padding-top: 58px;
  }
  .information__title {
    margin-bottom: 20px;
    max-width: 588px;
    line-height: 54px;
  }
  .column__phone.a,
  .b {
    display: none;
  }
  .column__phone::after {
    display: none;
  }
  .column__phone::before {
    display: none;
  }
  .column__phone {
    margin-bottom: 0;
    height: 482px;
  }
  .column__phone img {
    display: block;
  }
  .information__row {
    width: 100%;
    flex-direction: row;
  }
  .infortion__culumn-row {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .information__column {
    max-width: 310px;
    text-align: left;
  }
  .column__title {
    margin-bottom: 15px;
  }
  .subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  /* ......clock.......... */
  .clock {
    background: #ffffff;
    padding: 54px 0 0 0;
    margin-bottom: 109px;
  }
  .clock__content {
    justify-content: space-between;
  }
  .clock__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    max-width: 200px;
    margin-bottom: 24px;
  }
  .clock__text {
    margin-bottom: 15px;
  }
  .clock__icon img {
    width: 238px;
    height: 276px;
  }
  .clock__culmn {
    width: 100%;
  }
  /* ......slider....... */
  .slider {
    max-width: 620px;
  }
  .slider__icon {
    display: none;
  }
  .arrow {
    display: none;
  }
  .slider__content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .slider__pagination {
    margin-top: 0px;
  }
  /* ......table...... */
  .table__container {
    padding-bottom: 70px;
  }
  /* ......cont....... */
  .contact-info__container {
    padding-top: 40px;
  }
  .contact-info__inform {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
  }
  .contact-info__row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
  }
  .contact-info__culmn:first-child {
    order: 1;
  }
  .contact-info__culmn:nth-child(2) {
    order: 3;
  }
  .contact-info__culmn:last-child {
    order: 2;
  }
  /* .....map... */
  .map {
    height: 374px;
  }
  .footer {
    height: 127px;
  }
  .footer__logo img:first-child {
    display: block;
  }
  .footer__logo img:last-child {
    display: none;
  }
}
@media (max-width: 667px) {
  /* ......header........ */
  .container {
    max-width: 350px;
  }
  .header {
    height: 63px;
  }
  .header__list.act {
    top: 63px;
  }
  .header__logo {
    padding-top: 0;
    align-self: center;
  }
  .header-logo-tablet {
    display: none;
  }
  .header-logo-phone {
    display: block;
  }
  /* .......intro...... */
  .intro {
    padding: 98px 0 0 0px;
  }
  .intro__title {
    margin-bottom: 0;
  }
  .intro__container {
    position: relative;
  }
  .intro__content {
    margin: 0 auto;
    padding-bottom: 320px;
    width: 100%;
  }

  .intro .intro__download-button,
  .intro .intro__icons,
  .intro .intro__information {
    display: none;
  }
  .intro__hend {
    right: 30px;
  }
  .intro__hend img {
    width: auto;
    height: 286px;
  }
  .title {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
  }

  /* ....intro-mobile.... */
  .intro-mobile {
    display: block;
    background: #1d2631;
    padding: 28px 0 38px 0;
  }
  .intro-mobile__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .intro__download-button {
    margin-bottom: 38px;
  }
  .intro__icons {
    margin-bottom: 28px;
  }
  /* ....informatin...... */
  .information {
    padding-top: 46px;
  }
  .information__title {
    margin-bottom: 0;
  }
  .information__background {
    padding: 120px 0 0 0;
  }

  .information__title span {
    display: block;
    margin-top: 32px;
  }
  .information__row {
    flex-direction: column;
    align-items: center;
  }
  .phone__row {
    order: 2;
  }
  .column__phone {
    width: 157px;
    height: 277px;
  }
  .infortion__culumn-row {
    gap: 30px;
    margin-bottom: 40px;
  }
  .information__column {
    text-align: center;
  }
  /* ....clock.... */
  .clock {
    display: none;
  }
  /* .....slider...... */
  .slider {
    padding-top: 50px;
  }
  .slider__content {
    margin-bottom: 0;
  }
  .slider__subtitle {
    display: none;
  }
  .slider__text {
    order: 2;
  }
  /* ...tabele.... */
  .table {
    display: none;
  }
  /* contact */
  .contact-info__title {
    margin-bottom: 40px;
  }
  .contact-info__row {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .contact-info__subtitle {
    margin-bottom: 10px;
  }
  /* ....foooter..... */

  .footer {
    height: 284px;
    padding: 40px 0 50px 0;
  }
  .footer__icons {
    width: inherit;
  }
  .footer__content {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

/* ..........FOTO............... */

/* test */
.title-background {
  background-image: url(/src/images/photoPage/back/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container__new-title {
  color: #ffffff;
  padding-top: 180px;
  padding-bottom: 104px;
  text-align: center;
}

.container__new-subtitle {
  max-width: 570px;
  text-align: center;
  padding: 100px 0 100px 0;
}

.panorama {
  margin-bottom: 50px;
}
.panorama__img {
}
.panorama__img img {
  width: 100%;
}
.panorama__container {
}
.container {
}
.panorama__content {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 31px 27px 31px 27px;
  color: #000000;
  gap: 10px;
}
.panorama-row {
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: 700;
}
.name span {
  font-weight: 300;
  font-size: 12px;
  margin-left: 5px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d22856;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.likes button {
  width: 13px;
  height: 12px;
  margin-left: 10px;
}
.description {
}
.new-text {
  color: #000000;

  font-size: 14px;
  line-height: 24px;
}
.wall__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.wall-block {
  max-width: 300px;
}
.wall-block__img {
  width: 300px;
  height: 250px;
}
.wall-block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wall-block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: #f2f2f2;
  height: 190px;
}
.wall-block__name {
  margin-bottom: 10px;
}
.name {
}
.new-text {
}
.wall-block__description {
  margin-bottom: 25px;
}
.wall-block__likes {
}
.likes {
}

/* .................................................... */
